<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/styles.css">
     {{!-- <style>
        body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(#2323d3,rgb(98, 98, 228),rgb(90, 90, 197));
}
form{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: white;
    border-radius: 12px;
    width: 32rem;
    height: 25rem;
}
input{
    height: 2rem;
    margin: 0.3rem;
    width: 30rem;
    outline: none;
    border: none;
    background-color: hsla(0, 2%, 64%,10%);
    border-radius: 5px;
}
button{
    cursor: pointer;
    padding: 0.5rem;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    height: 2.3rem;
    /* width: rem; */
    width: 7rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    background-color: #4444c1;
}
.last{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.login{
    background-color: gray;
}
.login:hover{
    background-color: #4444c1;
}
h1{
    color: #2323db;
}
.title{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
input:hover{
    border: 2px solid rgb(210, 201, 201);
}
a{
    text-decoration: none;
    color: white;
}
    </style> --}}
</head>
<body>
    <div class="inner">
        <!-- <h1>Sign Up</h1> -->
        <form action="/login" style="height: 22rem;" method="post">
            <div class="title"> <h1>Login</h1></div>
            <label>
                <strong>Email id</strong>
             </label>
             <input type="text" placeholder="Enter Email" name="email" required>
            <label>
                <strong>Password</strong>
                </label>
                <input type="password" placeholder="Enter Password" name="password" required>

                <div class="last">
                    <button type="submit">login</button>
                    <label for="">Don't have an account ?</label>
                    <button class="login"><a href="/register">Register</a></button>
                </div>
               
        </form>
    </div>
</body>
</html>