<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/styles.css">
    </head>
<body>
    <div class="inner">
        <!-- <h1>Sign Up</h1> -->
        <form action="/login" style="height: 22rem;" method="post">
            <div class="title"> <h1>Login</h1></div>
            <label>
                <strong>Email id</strong>
             </label>
             <input type="text" placeholder="Enter Email" name="email" required>
            <label>
                <strong>Password</strong>
                </label>
                <input type="password" placeholder="Enter Password" name="password" required>

                <div class="last">
                    <button type="submit">login</button>
                    <label for="">Don't have an account ?</label>
                    <button class="login"><a href="/register">Register</a></button>
                </div>
               
        </form>
    </div>
</body>
</html>
